canvas {
  background-color: black;
  border: 1px solid black;
}

.picture-box {
  border: 1px solid black;
  width: 512px;
  height: 512px;
  display: inline-block;
  vertical-align: top;
}

.prompt-box {
  width: 512px;
  min-height: 50px;
  padding: 10px;
  line-height: 1.5;
  border: none;
  border-radius: 10px;
  background-color: rgb(45, 45, 45);
  color: azure;
  outline: none;
  resize: none;
  overflow: hidden;
  margin-bottom: 10px;
}