#canvas {
  background-color: black;
}

.picture-box {
  width: 512px;
  height: 512px;
  display: inline-block;
  vertical-align: top;
}

.help-container {
  display: flex;
  width: 512px;
  justify-content: space-between;
  align-items: center;
}

.help-container * {
  margin: 0;
  padding: 0;
}

#prompt {
  width: 512px;
  min-height: 50px;
  padding: 10px;
  line-height: 1.5;
  border: none;
  border-radius: 10px;
  background-color: #222;
  color: azure;
  outline: none;
  resize: none;
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 5px;
}

.orange-label {
  font-size: 24px;
  color: #ffaa00;
  font-family: monospace;
  font-weight: bold;
}

#pen-size-indicator {
  position: absolute;
  top: 20px;
  left: 20px;
}

.orange-btn {
  padding: 10px 20px;
  background-color: #ffaa00;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.orange-btn:hover {
  background-color: #ffbb44;
  transform: translateY(-2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.orange-btn:active {
  background-color: #ffaa00;
  color: azure;
  transform: translateY(0px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

#queue-indicator {
  display: inline-block;
  margin-left: 10px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.cursor {
  position: absolute;
  border-radius: 50%;
  background-color: #ffaa00;
  pointer-events: none;
}

.parameter-container {
  width: 300px;
  padding: 10px;
  background-color: #222;
  border-radius: 10px;
  font-weight: 300;
  font-size: 24px;
  color:azure;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}


.parameter-container >* {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.parameter-container *:focus {
  border-color: #ffbb44;
  box-shadow: 0 0 8px #ffaa00;
}

.parameter-container * label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: azure;
  font-family: monospace
}

.parameter-container * select,
.parameter-container * input {
  padding: 8px;
  font-size: 14px;
  border: 2px solid azure;
  border-radius: 3px;
  outline: none;
  margin-bottom: 0;

}

#cn-model {
  width: 80%;
  font-size: 13;
  text-align: center;
}

.small-num {
  width: 60px;
}